.lineups {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.lineup {
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
}

.title {
    text-align: center;
    color: dimgray;
}

.teamcreate {
    color: dimgray;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.teambuttons {
    display: flex;
    justify-content: center;
}

.detailbuttons {
    display: flex;
    justify-content: space-evenly;
}

.matchentry {
    display: flex;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.logo-image {
    width: 100%;
    height: 800px;
    /* height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px; */
} 

.playermatch {
    border-style: ridge;
}

.detailbox {
    border-top-style: inset;
    border-right-style: inset;
    border-color: dimgray;
}
/* #027bff */

.homebackground {
    width: 100%;
    height: 800px;
    background: url("./images/logo.png") no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover; 
}

body {
    background-color: #E1F3FC;
}

#homebutton {
    text-align: center;
}

.navbar {
    background-color: dimgray;
}

#href {
    color: white;
}