{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lineups.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="title">Player Info</h1>

{% if player.id is not None %}
    <form action="{% url 'statlockapp:player' player.id %}" method="post">
{% else %}
    <form action="{% url 'statlockapp:player_form' %}" method="post">
{% endif %}
        {% csrf_token %}
        <div class="form-group">
            <fieldset>
                <label for="name">Name: </label>
                <input id="name" class="form-control" type="text" name="name" value="{{ player.name }}">
            </fieldset>
            <fieldset>
                <label for="eight_rating">8 Ball skill level: </label>
                <input id="eight_rating" class="form-control" type="text" name="eight_rating" value="{{ player.eight_rating }}">
            </fieldset>
            <fieldset>
                <label for="nine_rating">9 Bal skill level: </label>
                <input id="nine_rating" class="form-control" type="text" name="nine_rating" value="{{ player.nine_rating }}">
            </fieldset>
        </div>

        {% if player.id is not None %}
        <input type="hidden" name="actual_method" value="PUT">
        <input type="submit" value="Update" class="btn btn-outline-success btn-lg"/>
        {% else %}
        <input type="submit" value="Add to Roster" class="btn btn-outline-success btn-lg"/>
        {% endif %}

    </form>
{% endblock %}