{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>My Team</h1>
    <div>{{ team.name }}</div>
    <form action="{% url 'statlockapp:player_form' %}" method="GET">
        {% csrf_token %}
        <button>Add Player</button>
    </form>
    <form action="{% url 'statlockapp:match_form' %}" method="GET">
        {% csrf_token %}
        <button>Match Entry</button>
    </form>
    {% for player in all_players %}
        <li>
            <a href="{% url 'statlockapp:player' player.id %}">{{ player.name }} {{ player.eight_rating }} {{ player.nine_rating }} {{ player.team_id }}
        </li>
        </li>
    {% endfor %}
{% endblock %}