{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lineups.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="title">My Lineups</h1>
    {% comment %} start of loop for radio buttons {% endcomment %}
    <div class="myopponent">
        <h4>Select Opponent to see all Lineups:</h4>
        {% for opp_team in opp_teams %}
            <a href="{% url 'statlockapp:opplineup' opp_team.id %}">{{ forloop.counter }}: {{ opp_team.name }}</a>
        {% endfor %}
    </div>
    {% comment %} end of loop for radio buttons {% endcomment %}
    <div class="row">
        <div class="column">
            <h3 class="title">{{ team.name }}</h3>
            <h4 class="lineups">8 Ball Lineups</h4>
            {% for eight_under_23 in eight_under_23s %}
                <ul class="lineup">
                {{ forloop.counter }} : {{ eight_under_23 }}
                </ul>
            {% endfor %}
        </div>
        <div class="column">
            <h3 class="title">{{ team.name }}</h3>
            <h4 class="lineups">9 Ball Lineups</h4>
            {% for nine_under_23 in nine_under_23s %}
            <ul class="lineup">
                {{ forloop.counter }} : {{ nine_under_23 }}
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}