{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lineups.css' %}" />
{% endblock %}

{% block content %}
    <div class="homebackground">
    <h1 class="title">Statlock</h1>
    <form action="{% url 'statlockapp:team' %}" method="GET">
    {% csrf_token %}
        <button class="btn btn-success btn-lg btn-block">Your Team</button>
    </form>
    <form action="{% url 'statlockapp:team_form' %}" method="GET">
        {% csrf_token %}
        <h5 class="title">If your team was not listed at register:</h5>
        <button class="btn btn-success btn-lg btn-block">Add Team</button>
    </form>
        <img class="logo-image" src="{% static "styles/images/logo.png" %}" alt="logo">
    </div>

{% endblock %}
