{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lineups.css' %}" />
{% endblock %}

{% block content %}
    <div class="homebackground">
    {% comment %} <h1 class="title">Statlock</h1> {% endcomment %}
    <form action="{% url 'statlockapp:team' %}" method="GET">
    {% csrf_token %}
    <div id="homebutton">
        <button class="btn btn-secondary btn-lg">My Team</button>
    </div>
    </form>
    <form action="{% url 'statlockapp:team_form' %}" method="GET">
        {% csrf_token %}
        <h5 class="title">If your team was not listed at register:</h5>
        <div id="homebutton">
            <button class="btn btn-secondary btn-lg">Add Team</button>
        </div>
    </form>
        {% comment %} <img class="logo-image" src="{% static "styles/images/logo.png" %}" alt="logo"> {% endcomment %}
    </div>

{% endblock %}
